       h1{
            color:maroon;
            font-size:100px;
        }
        body{
            background-color: bisque;
        }
        div{
            background-color: aliceblue;
        }

        .a{
            background-color: aqua;
            color: brown;
        }
        #abc{
background-color: aquamarine;
        }