body {
  background-color: #e2e8e8;
  /* Teal-500 */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5% 5% 5% 5%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.logo {
  align-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  list-style-type: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(233, 247, 247);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-toggle {
  display: none;
  background-color: aliceblue;
  color: black;
  padding: 12px 16px;
  cursor: pointer;
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 5% 70% 15%;
  border-radius: 3%;
  justify-content: space-around;
}

.button {
  background-color: maroon;
  border-radius: 30px;
  margin: 10%;
  padding-left: 2px;
  align-content: center;
  text-align: center;
  color: white;
  font-size: 16px;
}

ul {
  display: none;
}

.gridfull {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
}

.gridpart {
  background-color: rgb(233, 247, 247);
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
}

.cta {
  background-color: maroon;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  color: white;
  margin-left: 35%;
  margin-right: 35%;
  padding: .5%;
}

.cta a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
}

.calendar a {
  text-decoration: none;
  text-align: center;
}

.second-grid {
  display: grid;
  grid-template: 1fr 1fr;
  gap: 20px;
}

.gridpart2 {
  background-color: rgb(233, 247, 247);
  border-radius: 15px;
  justify-content: space-around;
  align-items: center;
}

.division {
  position: relative;
  padding: 50px;
}

.bottomflex {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

@media screen and (max-width:600px) {
  body {
    background-color: aliceblue;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1f 1fr;
    gap: 20px;
  }

  .button {
    background-color: maroon;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 8px;
  }

  .menu-toggle {
    display: block;
    text-align: right;
  }

  .navbar {
    display: none;
  }

  ul {
    display: none;
  }

  ul.show {
    display: block;
  }

  li {
    display: block;
    text-align: center;
  }

  .cta {
    background-color: maroon;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding: .5%;
  }

  .gridfull {
    display: grid;
    grid-template-columns: 1fr;
  }

  .bottomflex {
    display: flex;
    flex-direction: column;
  }
}

